<!DOCTYPE html>
<html>
    <body>
        <head>
            <meta charset="utf-8">
        </head>
    <form action="/bookinfo" method="POST">
    <p>タイトル:<input type="text" name = "title"></p>
    <p>著者名:<input type="text" name = "editor"></p>
    <p>ページ数:<input type="text" name = "pages"></p>
    <p>発行日:<input type="text" name = "day"></p>
    <p><input type="submit" value ="決定"/></p>
    </form>
    <ul>
     <% names.each do |e| %>
     <li>
         <%=e[:title]%>
         <%= e[:editor]%>
         <%= e[:pages]%>ページ
         <%= e[:day]%>
        <a href="/bookinfo/edit?id=<%= e[:id]%>">編集</a>
        <a href="/bookinfo/delete?id=<%= e[:id]%>">削除</a>
     </li>
     <% end %>
    </ul>
    </body>

    
</html>